<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @leave.employee.first_name %> Your leave have been approved</h3>
    <div>Check your leave status below <%= link_to 'Summary', leaves_url %></div>
  </body>
</html>
