<div class="container">
  <table class="table">
     <thead>
       <tr>
         <th>Category</th>
         <th>Leaves</th>
       </tr>
     </thead>
     <tbody>
    <% @leave_quota.each do |leave_quotum| %>
       <tr>
         <td><%= leave_quotum.leave_category %></td>
         <td><%= leave_quotum.count %></td>
       </tr>
    <% end %>
     </tbody>
  </table>
</div>
