<div class='container'>
  <div class= "row">
    <%= select_tag "Leaves", options_for_select(Leave::LEAVETYPES.collect{  |u| [u ] }), {id: 'searchleave', class: 'form-control col-sm-2', include_blank: true} %>
  </div>
  <div id= 'search-leave'>
    <%= render 'index', leaves: @leaves %>
  </div>
</div>