<nav class="navbar navbar-expand-xl navbar-dark bg-dark pmd-navbar pmd-z-depth fixed-top">
  <%= link_to('Leave Management System', root_path, class: 'navi navbar-brand') %>
  <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
    <a href="javascript:void(0);" class="btn-user  media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
        <a class="nav-link" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <button type="button" class="btn btn-outline-dark">Menu</button>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <% if employee_signed_in? %>
        <%= link_to('Settings', edit_employee_registration_path, class: "dropdown-item")%>
        <%= link_to 'Logout' , destroy_employee_session_path, method: :delete , class: "dropdown-item" %>
      <% else %>
        <%= link_to 'Login', new_employee_session_path, class: "dropdown-item" %>  
      <% end %>
    </ul>
  </div>
</nav>